 <!DOCTYPE html>
  <html lang="en">

  <head>
    <title>Libertador Hotel website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="widt=device-width, initial-sacale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Bienvenido al mejor hotel de La Rioja">
    <meta name="Keywords" content="hotel, hotel en La Rioja">
    <script src="https://kit.fontawesome.com/05f065c50f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Hotel LH | Bienvenido</title>
  </head>

  <body>

  <header>
  <nav id="navbar">
    <div class="container">
      <h1 class="logo"><a href="/">LH</a></h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <%if(req.session.user) {%>
            <h2><%= req.session.user%></h2>
            <a class="current" href="/logout">logout</a>
          <% }else{%>
            <a class="current" href="/login">login</a>
          <% }%>
        </li>
      </ul>
    </div>
  </nav>
  </header>

<div class = "container">
  <%- body %>
</div>

  <footer id="main-footer">
    <p>Hotel Libertador ©2021, All Rights Reserved </p>
  </footer>

  </body>
</html>



