
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*Main Styling*/
html, body{
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}





/*Utility classes*/
.container{
    margin: auto;
    max-width: 1550px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #333;
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.clr{
    clear: both;
}

.l-heading{
    font-size: 39px;
}





/*Padding*/
.py-1{ padding: 10px 0; }
.py-2{ padding: 20px 0; }
.py-3{ padding: 30px 0; }





/*Navbar*/
#navbar{  /*Barra*/
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a{ /*Color de letras*/
    color: white;
}

#navbar h1{ /*Configuracion del logo*/
    float: left;
    padding-top: 20px;
}

#navbar ul{ /*Movemos letras a la derecha*/
    float: right;
    list-style: none;
}

#navbar ul li{ /*Ponemos letras de derecha a izquierda*/
    float: left;
}

#navbar ul li a{   /*Creamos bloques(displays en las letras*/
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover{ /*Al pisar letras cambian de color*/
    background: #444;
    color: #f7c08a;
}





/*cuadro1*/
#cuadro1{ /*Configuracion fondo*/
    background: url('../Assets/img/Bed.jpg') no-repeat
    center center/cover;
    height: 600px;
}

#cuadro1 .cuadro1-contenido{
    color: #fff;  /*#fff*/
    text-align: center;
    padding-top: 170px;
}

#cuadro1 .cuadro1-contenido h1{
    font-size: 60px;
    line-height: 1.2em;
}

#cuadro1 .cuadro1-contenido p{
    padding-bottom: 20px;
    line-height: 1.7em;
}





/*Homepage Info*/
#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../Assets/img/NightCathedral.jpg')  no-repeat
    center center/cover;
    min-height: 100%;
}


#home-info .info-text{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-text p {
    padding-bottom: 30px;
}





/*Features*/
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i{
    margin-bottom: 10px;
}





/*About Info*/
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 100%;
}

#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}





/*Places*/
#places{
    height: 1127px;
    background: url('../Assets/img/Techo.jpg') no-repeat
    center center/cover;
    padding-top: 109px;
}

#places h2{
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#places .place{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    text-align: left;
   /* opacity: 0.9;*/
}


#places .place img{
    float: left;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}





/*Login form*/
#login-form .form-group{
    margin-bottom: 10px;
}

#login-form label{
    display: block;
    margin-bottom: 10px;
}

#login-form input{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#login-form input:focus{
    outline: none;
    border-color: #f7c08a;
}






/*Footer*/
#main-footer{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}











