<section id="about-info" class="bg-light py-3">
  <div class="container" style=" margin-bottom: 50px">
    <div class="info-left">
      <h1 class="l-heading"><span class="text-primary">Acerca</span> del Hotel</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt doloremque
        dolores dolorum eos fuga harum incidunt iste nam natus nesciunt, odio omnis
        perspiciatis quae quidem quis quo ratione sunt unde.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium
        animi cupiditate doloribus eligendi illo libero porro rerum sint!</p>
    </div>
    <div class="info-right">
      <img src="images/Fachada.jpeg" alt="Hotel">
    </div>
  </div>
</section>

<section id="places" class="py-3">
  <div class="container">
    <h2 class="l-heading" style="margin-top:80px">Lugares para conocer</h2>
    <div class="place bg-primary">
      <img src="images/Talampaya.JPG" alt="talampaya">
      <p>TALAMPAYA: el parque nacional Talampaya se encuentra ubicado en el
        centro-oeste de la provincia de La Rioja en Argentina entre los
        departamentos de Coronel Felipe Varela e Independencia. Fue creado
        con el objetivo de proteger importantes yacimientos arqueológicos y
        paleontológicos de la zona. Se encuentra adyacente al parque provincial
        de Ischigualasto ubicado en la provincia de San Juan, también conocido
        como Valle de la Luna. En 2000 la Unesco declaró a ambos parques como
        Patrimonio Cultural y Natural de la Humanidad en América. El nombre
        Talampaya corresponde al extinto idioma cacán y significa río seco del
        tala. </p>
    </div>
    <div class="place bg-primary">
      <img src="images/LagunaBrava.jpg" alt="condor">
      <p>LAGUNA BRAVA: la Reserva provincial Laguna Brava llamada inicialmente Reserva
        Provincial de Vicuñas y de Protección de Ecosistemas de Laguna Brava se encuentra
        en el extremo noroeste de la provincia de La Rioja, Argentina. Limita al sur con
        la provincia de San Juan y al oeste con la República de Chile. Ocupa parte de los
        departamentos de Vinchina y General Lamadrid. La extensa laguna de más de 60km² que
        le da su nombre es el hábitat permanente de flamencos rosados y blancos. </p>
    </div>
    <div class="place bg-primary">
      <img src="images/Famatina.jpg" alt="condor">
      <p>FAMATINA: es una localidad argentina, cabecera del departamento homónimo, en
        el centro-norte de la provincia de La Rioja, caracterizada por la actividad agrícola
        y el turismo. Se encuentra en estribaciones de las sierras pampeanas, en un bolsón de
        clima árido, con veranos muy calurosos e inviernos benignos, muy escasas lluvias y
        probabilidad de heladas. Desde la localidad se visualiza el cerro General Belgrano,
        más conocido como el nevado del Famatina; a 320 km al norte de la capital provincial
        La Rioja, por la Ruta Nacional 38.</p>
    </div>
    <div class="place bg-primary">
      <img src="images/CableCarril.jpg" alt="condor">
      <p>CABLE CARRIL: la mina La Mejicana es una mina aurífera ubicada en el Cerro Famatina a
        4600 msnm (General Belgrano) a 34 km de la ciudad de Famatina en la provincia de La Rioja,
        Argentina. Para transportar la gran cantidad de mineral hacia Chilecito se construyó lo que
        para la época era una de las mayores obras de ingeniería del mundo, el Cablecarril que fue
        terminado en 1905 con una longitud de 35 km y en la actualidad forma parte de los monumentos
        y lugares históricos de la Argentina. </p>
    </div>
    <div class="place bg-primary">
      <img src="images/QCondores.jpg" alt="condor">
      <p>QUEBRADA DE LOS CONDORES: la quebrada de los Cóndores en la provincia de La Rioja en Argentina
        fue protegida en mayo del 2005 mediante la ley provincial n.º 7849 con el nombre oficial de
        "zona de reserva ecológica Sierra de Los Quinteros". Se encuentra en cercanías del paraje Puesto
        Santa Cruz en el departamento General Ángel V. Peñaloza, en la región sudeste de la provincia de
        La Rioja.Sierra de los Quinteros forma parte del sistema montañoso sierra de los Llanos, integrado
        a la región Sierras Pampeanas. Este conjunto de sierras se encuentra en una zona relativamente aislada
        y con muy escasa población. </p>
    </div>
  </div>
</section>

