<section id="huesped-form" class="py-3">
    <div class="container">
        <h1 class="l-heading"><span class="text-primary">Cancela</span>cion</h1>
        <p>Ingrese el codigo de reservacion para cancelar:</p>
        <form action="/cancelar" method="post">
            <div class="form-group">
                <label for="codigo">Codigo</label>
                <input type="number" name="Codigo" id="Codigo">
            </div>
            <button type="submit" class="btn">Aceptar</button>
        </form>
    </div>
</section>



<section id="contact-info" class="bg-dark">
    <div class="container">
        <div class="box">
            <i class="fas fa-map-marker-alt fa-3x"></i>
            <h3>Ubicación</h3>
            <p>Buenos Aires 253 - Capital, </p>
            <p>La Rioja - Argentina</p>
        </div>
        <div class="box">
            <i class="fas fa-phone fa-3x"></i>
            <h3>Telefono</h3>
            <p>Cel. (54) 3804416133</p>
            <p>Fijo. 4427474</p>
        </div>
        <div class="box">
            <i class="fas fa-envelope fa-3x"></i>
            <h3>Email</h3>
            <p>libertadorhotel@hotmail.com</p>
        </div>
    </div>
</section>
