<section id="huesped-form" class="py-3">
    <div class="container">
        <h1 class="l-heading"><span class="text-primary">Habitacio</span>nes</h1>
        <p>Para añadir una habitacion al sistema complete los datos:</p>
        <form action="/Build" method="post">
            <div class="form-group">
                <label for="numero">Numero de habitacion</label>
                <input type="number" name="Numero" id="Numero">
                <label for="precio">Precio</label>
                <input type="number" name="Precio" id="Precio">
                <label for="tipo">Cantidad max de personas</label>
                <input type="number" name="Tipo" id="Tipo">
                <label for="descripcion">Descripcion</label>
                <input type="text" name="Descripcion" id="Descripcion">
                <label for="estado">Estado</label>
                <input type="text" name="Estado" id="Estado">
            </div>
            <button type="submit" class="btn">Añadir</button>
        </form>
    </div>
</section>

