<header>
  <div id="cuadro1">
    <div class="container">
      <div class="cuadro1-contenido">
        <h1><span class="text-primary">Disfuta</span> Tu Estadia</h1>
        <p class="lead">El mejor lugar para descanzar, mientras visitas nuestra ciudad. </p>
        <a class="btn" href="/about">About Our Hotel</a>
      </div>
    </div>
  </div>
</header>

<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-text">
    <h2><span class="text-primary">Lugares</span> de La Rioja</h2>
    <p>info de La Rioja</p>
    <a href='/about' class="btn btn-light">Saber mas</a>
  </div>
</section>

<section id="servicios">
  <div class="box bg-light">
    <i class="fas fa-wifi fa-3x"></i>
    <h3>Wi-fi</h3>
    <p>Contamos con conexion wi-fi mediante fibra optica.</p>
  </div>
  <div class="box bg-primary">
    <i class="fas fa-coffee fa-3x"></i>
    <h3>Desayuno</h3>
    <p>El desayuno esta incluido. La comida mas importante antes de ralizar las excursiones.</p>
  </div>
  <div class="box bg-light">
    <i class="fas fa-parking fa-3x"></i>
    <h3>Estacionamiento</h3>
    <p>La estadia incluye acceso a la cochera privada, para que tu vehiculo este protegido</p>
  </div>
</section>

<div class="clr"></div>


