<section id="huesped-form" class="py-3">
    <div class="container">
        <h1 class="l-heading"><span class="text-primary">Hues</span>ped</h1>
        <p>Ingrese los datos del huesped:</p>
        <form action="/huesped" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="Nombre" id="Nombre">
                <label for="apellido">Apellido</label>
                <input type="text" name="Apellido" id="Apellido">
                <label for="fechaNac">Fecha de nacimiento</label>
                <input type="date" name="FechaNac" id="FechaNac">
                <label for="dni">DNI</label>
                <input type="number" name="DNI" id="DNI">
                <label for="telefono">Telefono</label>
                <input type="number" name="Telefono" id="Telefono">
                <label for="domicilio">Domicilio</label>
                <input type="text" name="Domicilio" id="Domicilio">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" name="Nacionalidad" id="Nacionalidad">
            </div>
            <button type="submit" class="btn">Continuar</button>
        </form>
    </div>
</section>


<!--
<section id="huesped-form" class="py-3">
    <div class="container">
        <h1 class="l-heading"><span class="text-primary">Esta</span>dia</h1>
        <p>Ingrese los datos de la estadia:</p>
        <form action="/reserva" method="post">
            <div class="form-group">
                <label for="fechaIngreso">Fecha de ingreso</label>
                <input type="date" name="fechaIngreso" id="FechaIngreso">
                <label for="fechaSalida">Fecha de salida</label>
                <input type="date" name="fechaSalida" id="FechaSalida">
                <label for="cantPasajeros">Cantidad de pasajaeros</label>
                <input type="number" name="cantPasajeros" id="CantPasajeros">
                <label for="cantHabitaciones">Cantidad de habitaciones</label>
                <input type="number" name="cantHabitaciones" id="CantHabitaciones">
                <label for="metodoPago">Metodo de pago</label>
                <label class="deb"><input class="ceb" type="checkbox" name="efectivo" id="MetodoPago"> Efectivo </label>
                <label class="deb"><input class="ceb" type="checkbox" name="debito/credito" id="MetodoPago"> Debito/Credito </label>
            </div>
            <button type="submit" class="btn">Confirmar</button>
        </form>
    </div>
</section>
-->

<section id="contact-info" class="bg-dark">
    <div class="container">
        <div class="box">
            <i class="fas fa-map-marker-alt fa-3x"></i>
            <h3>Ubicación</h3>
            <p>Buenos Aires 253 - Capital, </p>
            <p>La Rioja - Argentina</p>
        </div>
        <div class="box">
            <i class="fas fa-phone fa-3x"></i>
            <h3>Telefono</h3>
            <p>Cel. (54) 3804416133</p>
            <p>Fijo. 4427474</p>
        </div>
        <div class="box">
            <i class="fas fa-envelope fa-3x"></i>
            <h3>Email</h3>
            <p>libertadorhotel@hotmail.com</p>
        </div>
    </div>
</section>
