<section id="huesped-form" class="py-3">
    <div class="container">
        <h1 class="l-heading"><span class="text-primary">Esta</span>dia</h1>
        <p>Ingrese los datos de la estadia:</p>
        <form action="/estadia" method="post">
            <div class="form-group">
                <label for="fechaIngreso">Fecha de ingreso</label>
                <input type="date" name="FechaIngreso" id="FechaIngreso">
                <label for="fechaSalida">Fecha de salida</label>
                <input type="date" name="FechaSalida" id="FechaSalida">
                <label for="cantPasajeros">Cantidad de pasajeros</label>
                <input type="number" name="CantPasajeros" id="CantPasajeros">
                <label for="cantHabitaciones">Cantidad de habitaciones</label>
                <input type="number" name="CantHabitaciones" id="CantHabitaciones">
                <label for="metodoPago">Metodo de pago: Debito/Credito o Efectivo</label>
                <input type="text" name="MetodoPago" id="MetodoPago">
            </div>
            <button type="submit" class="btn">Confirmar</button>
        </form>
    </div>
</section>



<section id="contact-info" class="bg-dark">
    <div class="container">
        <div class="box">
            <i class="fas fa-map-marker-alt fa-3x"></i>
            <h3>Ubicación</h3>
            <p>Buenos Aires 253 - Capital, </p>
            <p>La Rioja - Argentina</p>
        </div>
        <div class="box">
            <i class="fas fa-phone fa-3x"></i>
            <h3>Telefono</h3>
            <p>Cel. (54) 3804416133</p>
            <p>Fijo. 4427474</p>
        </div>
        <div class="box">
            <i class="fas fa-envelope fa-3x"></i>
            <h3>Email</h3>
            <p>libertadorhotel@hotmail.com</p>
        </div>
    </div>
</section>
